<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Self Service Order</title>
</head>

<body>

    <main id="app">

        <section class="items">
            <h4>Selecione os produtos</h4>
            <div v-for="item in products" @click="item.active = !item.active" :class="{selected :item.active}"
                class="product">
                <div class="photo">
                    <img :src="item.photo">
                </div>
                <div class=" description">
                    <span class="name">{{item.name}}</span>
                    <span class="price">R$ {{item.price}}</span>
                    <div v-if="item.active || item.quantity > 0" class="quantity-area">
                        <button @click.stop="item.quantity--" :disabled="item.quantity <= 0">-</button>
                        <span class="quantity">{{item.quantity}}</span>
                        <button @click.stop="item.quantity++">+</button>
                    </div>
                </div>
            </div>

        </section>

        <section class="summary" v-if="calculate()>0">
            <strong>Resumo do pedido</strong>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in products">
                        <template v-if="item.active && item.quantity > 0">
                            <td>{{item.quantity + 'x' + item.name }}</td>
                            <td>{{ (item.quantity * item.price).toFixed(2)}}</td>
                        </template>

                    </tr>

                    <tr>
                        <th>Total</th>
                        <th>{{calculate()}}</th>

                    </tr>
                    <tr>

                    </tr>
                </tbody>


            </table>

        </section>

    </main>

    <script src=" https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="scripts.js"></script>
</body>

</html>